body{
    background-image: url("https://cms-cdn.thesolesupplier.co.uk/2022/02/the-best-dad-shoes-of-all-time_w1160.jpg");
    background-size: 100%;
    align-items: center;
    height: 100vh;
    margin: 0;
  }

  h1{
    font-size: 2rem;
    text-align: center;
    color: red;
    margin: 10px;
  }

  html{
    font-size: 0.5rem;
    text-align: center;
    color: black;
    margin: 10px; 
  }

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

section{
    min-height: 100vh;
    width: 100%;
    padding: 100px 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container{
    width: 90%;
    max-width: 500px;
    margin: 0 auto;
    background-color: cyan;
    border-radius: 8px;
    padding: 3rem;
    display: flex;
    flex-direction: column;
}

.container p{
    font-size: 2rem;
    font-weight: 300;
    line-height: 3rem;
    text-align: justify;

}

button{
margin-top: 4rem;
width: fit-content;
padding: 2rem;
font-size: 2rem;
background-color: blue;
border: none;
border: 4px;
cursor: pointer;
align-self: center;
}
.lable {
    height: 26px;
    width: 50px;
    background-color: #111;
    display: flex;
    border-radius: 50px;
    align-self: flex-end;
    align-items: center;
    justify-content: space-between;
} 

/* HEART BUTTON CSS */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  html {
    font-size: 9px;
  }
  body {
    background-color: #fae5e5;
    font-family: futura-pt, sans-serif;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
  }
  #container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px 15px;
  }
  .heart-like-button {
    position: relative;
    width: 160px;
    height: 130px;
  }
  .heart-like-button:before {
    position: absolute;
    top: 0;
    left: 80px;
    transform: rotate(-45deg);
    transform-origin: 0 100%;
    width: 80px;
    height: 125px;
    border-radius: 40px 40px 0 0;
    background-color: #574136;
    content: "";
    cursor: pointer;
    transition: background .4s;
  }
  .heart-like-button:after {
    position: absolute;
    top: 0;
    left: 0;
    transform: rotate(45deg);
    transform-origin :100% 100%;
    width: 80px;
    height: 125px;
    border-radius: 40px 40px 0 0;
    background-color: #574136;
    content: "";
    cursor: pointer;
    transition: background .4s;
  }
  h1 {
    margin: 0;
    color: #574136;
    font-size: 3rem;
    letter-spacing: 1px;
    text-align: center;
  }
  .heart-like-button.liked::before,
  .heart-like-button.liked::after {
    background-color: #d65076;
  }
  .heart-like-button.liked {
    animation: liked .4s ease;
  }
  @keyframes liked {
    0% {
      transform: scale(.8);
    }
    50% {
      transform: scale(1.1);
    }
    100% {
      transform: scale(1);
    }
  }
  @media screen and (max-width: 480px) {
    #container {
      height: auto;
    }
    h1 {
      font-size: 2.5rem;
    }
  }

