body {
    background-image: url("https://cms-cdn.thesolesupplier.co.uk/2022/02/the-best-dad-shoes-of-all-time_w1160.jpg");
    background-size: 100%;
  }
  
  h1{
    font-size: 2rem;
    text-align: center;
    color: red;
    margin: 10px;
    
  }
  .right-align {
    text-align: right;
    
  }
  .joke-btn {
    font-family: inherit;
    font-size: 1.07rem;
    background-color: #54f609;
    width: 210px;
    height: 80px;
    border: solid;
    background: #8c84b1;
    color: rgb(0, 0, 0);
    text-align: right;
  background-position: right;
    
}